.mind-map-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	// border: 2px solid greenyellow;
	overflow: scroll;
	background-image: url(../../dist/img/graph.jpeg);
	.make-a-word {
		background-image: url(../../dist/img/newWordIcon.png);
		background-repeat: no-repeat;
		background-color: transparent;
		background-size: cover;
		border: none;
		width: 5rem;
		height: 5rem;
		position: fixed;

		right: 50%;
		// margin-top: 5%;
		top: 50%;
		font-size: 2rem;
		transform: translate(50%, -50%);
		z-index: 5;
		&.showing {
			display: block;
		}
		&.hidden {
			display: none;
		}
	}
	.mind-map {
		position: absolute;
		width: 10000px;
		height: 10000px;
		// border: 2px solid orangered;

		.word {
			padding: 5px;
			position: absolute;
			&.red-TB {
				color: #d41c10;
				border: 3px solid #d41c10;
				background-color: #ecf1c4;
			}
			&.green-TB {
				color: #60961d;
				border: 3px solid #60961d;
				background-color: #ecf1c4;
			}
			&.blue-TB {
				color: #32a0e2;
				border: 3px solid #32a0e2;
				background-color: #ecf1c4;
			}
			&.red-bkg {
				color: #ecf1c4;
				border: 3px solid #010d0d;
				background-color: #d41c10;
			}
			&.green-bkg {
				color: #ecf1c4;
				border: 3px solid #010d0d;
				background-color: #60961d;
			}
			&.blue-bkg {
				color: #ecf1c4;
				border: 3px solid #010d0d;
				background-color: #32a0e2;
			}
		}

		.debug {
			position: absolute;
			width: 5px;
			height: 5px;
			border-radius: 5px;
			font-size: 14pt;
			background-color: #ccc;
			color: #ccc;
			text-indent: 15px;

			display: none;
		}
		&.debug {
			.debug {
				display: block;
			}
		}
	}
}
.controls {
	display: none;
	.save-word {
		background-image: url(../../dist/img/submitIcon.png);
		background-repeat: no-repeat;
		background-position: center;
		color: transparent;
		margin: 2% auto;
		font-size: 4rem;
		display: none;
		border: none;
		background-color: transparent;
		width: 30%;

		&.showing {
			display: block;
		}
		&.hidden {
			display: none;
		}
	}
	.input {
		font-size: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-content: center;
		.word-input {
			border: black 2px solid;
			background-color: beige;
			padding: 2%;
		}
		.name-input {
			border: black 2px solid;
			background-color: beige;
			padding: 2%;
		}
		@include bp-med {
			font-size: 1.5rem;
			width: revert;
			height: 7%;
		}
	}
	div {
		display: flex;
		flex-direction: column;
		align-content: center;
		h2,
		label {
			font-size: 1.3rem;
			margin-bottom: 0.5rem;
			color: white;
		}
		select {
			@include bp-med {
				font-size: 1.2rem;
			}
		}

		&.big-spin {
			display: flex;
			flex-direction: row;
			width: 100%;
			.size {
				width: 50%;
				display: flex;
				flex-direction: row;
				.size-icon {
					width: 20%;
				}
				select {
					width: 80%;
				}
			}
			.spin-range {
				width: 50%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				input {
					width: 75%;
				}
			}
		}
		&.hidden {
			display: none;
		}
		&.styles-container {
			display: flex;
			flex-direction: row;
			.styles {
				display: flex;
				flex-direction: row;
				input {
					width: 25%;
					height: 100%;
					padding: 0;
				}
				.style-1 {
					background-image: url(../../dist/img/Style1.png);
					background-repeat: no-repeat;
					background-color: transparent;
					background-position: center;
					border: none;
					color: transparent;
				}
				.style-2 {
					background-image: url(../../dist/img/Style2.png);
					background-repeat: no-repeat;
					background-color: transparent;
					background-position: center;
					border: none;
					color: transparent;
				}
				.style-3 {
					background-image: url(../../dist/img/Style3.png);
					background-repeat: no-repeat;
					background-color: transparent;
					background-position: center;

					border: none;
					color: transparent;
				}
				.style-4 {
					background-image: url(../../dist/img/Style4.png);
					background-repeat: no-repeat;
					background-color: transparent;
					background-position: center;

					border: none;
					color: transparent;
				}
			}
		}
	}
	&.showing {
		position: fixed;
		top: 0;
		// right: 0;
		margin: 1%;
		padding: 3%;
		// width: 98%;
		// height: 48%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: rgba(0, 0, 20, 0.5);
		@include bp-med {
			// width: 25%;
			right: 0;
			// height: 40%;
			margin: 1%;
			padding: 1%;
		}
	}
	&.hidden {
		display: none;
	}

	.plus-minus-field {
		// wrapper around the size field and its associated plus and minus buttons
		position: relative;
		input {
			padding: 5px;
			min-width: 100px;
		}
		.plus,
		.minus {
			position: absolute;
			right: 0;
		}
		.plus {
			top: 0;
		}
		.minus {
			bottom: 0;
		}
	}
}
.hidden {
	display: none;
}
