.mind-map-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	// border: 2px solid greenyellow;
	overflow: scroll;
	.make-a-word {
		position: fixed;
		right: 50%;
		margin-top: 5%;
		font-size: 2rem;
		transform: translateX(50%);
		&.showing {
			display: block;
		}
		&.hidden {
			display: none;
		}
	}
	.mind-map {
		position: absolute;
		width: 10000px;
		height: 10000px;
		// border: 2px solid orangered;

		.word {
			position: absolute;
		}

		.debug {
			position: absolute;
			width: 5px;
			height: 5px;
			border-radius: 5px;
			font-size: 14pt;
			background-color: #ccc;
			color: #ccc;
			text-indent: 15px;

			display: none;
		}
		&.debug {
			.debug {
				display: block;
			}
		}
	}
}

.controls {
	display: none;
	.save-word {
		@include bp-med {
			margin-top: 5%;
			font-size: 2rem;
			display: none;
		}
		&.showing {
			display: block;
		}
		&.hidden {
			display: none;
		}
	}
	.pseudo-input {
		position: fixed;
		right: 50%;
		top: 50%;
		width: 70%;
		height: 10%;
		transform: translateX(50%);
		font-size: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-content: center;
		text-align: center;
		@include bp-med {
			font-size: 1.5rem;
			width: revert;
			height: 7%;
		}
		span {
			display: flex;
			align-items: center;
			height: 50%;
			justify-content: center;
		}
	}
	div {
		display: flex;
		flex-direction: column;
		align-content: center;
		h2,
		label {
			font-size: 1.3rem;
			margin-bottom: 0.5rem;
			color: white;
		}
		select {
			@include bp-med {
				font-size: 1.2rem;
			}
		}
		.spin-range {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			input {
				width: 75%;
			}
		}
		&.hidden {
			display: none;
		}
	}

	&.showing {
		position: fixed;
		top: 0;
		// right: 0;
		margin: 1%;
		padding: 3%;
		width: 98%;
		height: 48%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: rgba(0, 0, 20, 0.5);
		@include bp-med {
			width: 25%;
			right: 0;
			height: 40%;
			margin: 1%;
			padding: 1%;
		}
	}
	&.hidden {
		display: none;
	}
}
.hidden {
	display: none;
}
