.mind-map-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	// border: 2px solid greenyellow;
	overflow: scroll;
	background-image: url(../../dist/img/background.svg);
	.make-a-word {
		// background-image: url(../../dist/img/newWordIcon.png);
		// background-repeat: no-repeat;
		background-color: transparent;
		// background-size: cover;
		display: flex;
		justify-content: center;
		border: none;
		width: 5rem;
		height: 5rem;
		position: fixed;
		right: 50%;
		top: 50%;
		font-size: 2rem;
		transform: translate(50%, -50%);
		z-index: 5;
		.long-cross {
			width: 5%;
			height: 100%;
			z-index: 6;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			background-color: black;
		}
		.lat-cross {
			height: 5%;
			width: 100%;
			z-index: 7;
			position: absolute;
			top: 50%;
			background-color: black;
			transform: translateY(-50%);
		}
		&.showing {
			display: block;
		}
		&.hidden {
			display: none;
		}
	}
	.mind-map {
		position: absolute;
		width: 10000px;
		height: 10000px;
		// border: 2px solid orangered;

		.word {
			padding: 5px;
			position: absolute;
			&.pb-pitb {
				color: #ff5e5a;
				border: 3px solid #ff5e5a;
				background-color: #4e0552;
			}
			&.gb-ytb {
				color: #007451;
				border: 3px solid #007451;
				background-color: #ffed00;
			}
			&.bb-ptb {
				color: #004789;
				border: 3px solid #004789;
				background-color: #dab3d0;
			}
			&.ob-lotb {
				color: #ffa237;
				border: 3px solid #ffa237;
				background-color: #ff5e36;
			}
		}

		// .debug {
		// 	position: absolute;
		// 	width: 5px;
		// 	height: 5px;
		// 	border-radius: 5px;
		// 	font-size: 14pt;
		// 	background-color: #ccc;
		// 	color: #ccc;
		// 	text-indent: 15px;

		// 	display: none;
		// }
		// &.debug {
		// 	.debug {
		// 		display: block;
		// 	}
		// }
	}
}
.controls {
	display: none;
	.save-word {
		background-image: url(../../dist/img/submitIcon.png);
		background-repeat: no-repeat;
		background-position: center;
		color: transparent;
		margin: 2% auto;
		font-size: 4rem;
		display: none;
		border: none;
		background-color: transparent;
		width: 30%;

		&.showing {
			display: block;
		}
		&.hidden {
			display: none;
		}
	}
	.input {
		font-size: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-content: center;
		height: 25%;
		margin: 1%;
		@include bp-med {
			font-size: 3rem;
		}
		.word-container {
			display: flex;
			justify-content: space-between;
			.word-icon {
				width: 25%;
				display: flex;
				justify-content: center;
				img {
					width: 50%;
				}
			}
			.word-input {
				border: black 2px solid;
				background-color: beige;
				// padding: 2%;
				width: 75%;
				align-self: center;
				padding: 10px;
			}
		}
		.name-container {
			display: flex;
			justify-content: space-between;
			.name-icon {
				width: 25%;
				display: flex;
				justify-content: center;
				img {
					width: 55%;
				}
			}
			.name-input {
				border: black 2px solid;
				background-color: beige;
				// padding: 2%;
				align-self: center;
				width: 75%;
				padding: 10px;
			}
		}
	}
	.big-spin {
		height: 25%;
		width: 100%;
		margin: 1% 0% 2% 0%;
		display: flex;

		justify-content: space-around;
		.size {
			align-self: center;
			height: 50%;
			width: 40%;
			.size-icon {
				height: 100%;
				align-self: center;
				&.plus-minus-field {
					// wrapper around the size field and its associated plus and minus buttons
					// position: relative;
					display: flex;
					flex-direction: row-reverse;
					justify-content: flex-end;
					input {
						width: 50%;
						text-align: center;
						font-size: 2rem;
						@include bp-med {
							width: 30%;
						}
					}
					.button-holder {
						width: 20%;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						.plus,
						.minus {
							// position: absolute;
							// right: 0;
							// width: 35%;
						}
						.plus {
							background-color: transparent;
							border: none;
							padding: 0;
						}
						.minus {
							background-color: transparent;
							border: none;
							padding: 0;
							img {
								display: flex;
							}
						}
					}
					.size-title {
						margin: auto;
						width: 30%;
						display: flex;
						justify-content: center;
						@include bp-med {
							width: 50%;
						}
						img {
							width: 50%;
						}
					}
				}
			}
		}
		.spin-range {
			align-self: center;
			height: 50%;
			width: 40%;
			input {
				width: 75%;
			}
			.spin-icon {
				height: 100%;
				align-self: center;
				&.plus-minus-field {
					// wrapper around the size field and its associated plus and minus buttons
					display: flex;
					flex-direction: row-reverse;
					justify-content: flex-end;
					input {
						width: 50%;
						text-align: center;
						font-size: 2rem;
						@include bp-med {
							width: 30%;
						}
					}
					.button-holder {
						width: 20%;
						display: flex;
						flex-direction: column;
						justify-content: space-around;

						.plus {
							background-color: transparent;
							border: none;
							padding: 0;
						}
						.minus {
							background-color: transparent;
							border: none;
							padding: 0;
							img {
								display: flex;
							}
						}
					}
					.spin-title {
						margin: auto;
						width: 30%;
						display: flex;
						justify-content: center;
						@include bp-med {
							width: 50%;
						}
						img {
							width: 50%;
						}
					}
				}
			}
		}
	}

	.styles-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin: 1%;
		justify-content: space-around;
		.styles-icon {
			width: 25%;
			display: flex;
			justify-content: center;
			img {
				width: 55%;
			}
		}
		.styles {
			display: flex;
			flex-direction: row;
			width: 75%;
			justify-content: space-between;
			input {
				width: 25%;
				height: 100%;
				padding: 0;
			}
			.style-1 {
				background-image: url(../../dist/img/Style1.svg);
				background-repeat: no-repeat;
				background-color: transparent;
				// background-position: center;
				border: none;
				color: transparent;
			}
			.style-2 {
				background-image: url(../../dist/img/Style2.svg);
				background-repeat: no-repeat;
				background-color: transparent;
				// background-position: center;
				border: none;
				color: transparent;
			}
			.style-3 {
				background-image: url(../../dist/img/Style3.svg);
				background-repeat: no-repeat;
				background-color: transparent;
				// background-position: center;
				border: none;
				color: transparent;
			}
			.style-4 {
				background-image: url(../../dist/img/Style4.svg);
				background-repeat: no-repeat;
				background-color: transparent;
				// background-position: center;
				border: none;
				color: transparent;
			}
		}
	}
	&.showing {
		position: fixed;
		top: 0;
		margin: 1%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: rgba(0, 0, 20, 0.5);
		@include bp-med {
			right: 0;
			margin: 1%;
		}
	}
	&.hidden {
		display: none;
	}
}
.hidden {
	display: none;
}
